# Configuración de la base de datos
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=moneydiary
MYSQL_USER=user
MYSQL_PASSWORD=password

# Configuración de la aplicación
DEBUG=0
SECRET_KEY=your_secret_key_here
BACKEND_URL=http://localhost:8000

# Configuración de despliegue
DOMAIN=moneydiary.com
SSL_EMAIL=admin@moneydiary.com
